html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.bear *,
.bear *:after,
.bear *:before {
  position: absolute;
}

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* --- Colours --- */
$o: #ffc9ad;
$b1: #dd9b70;
$b2: #be7c5d;
$b3: #84424d;
$pk: #ff8d94;
$g: #a3946e;
$g2: #a78472;
$w1: #f7e5dc;
$w2: #d2c9c7;
$p: #502141;
$t: transparent;

@mixin pseduo-div( $w, $h ) {
  content: '';
  width: $w;
  height: $h;
  display: block;
}

@mixin w-h ( $w, $h ) {
  width: $w;
  height: $h;
}

@mixin align-x-center {
  left: 50%;
  transform: translateX( -50% );
}

/* --- Styles --- */
body {
  margin: 0;
  background: $o;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

img {
  height: 70vmin;
  left: 50%;
  opacity: 0.25;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

svg {
  margin-top: -5%;

  textPath {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    font-size: 2.7rem;
    fill: $w1;
    stroke: $p;
    stroke-width: 2;
  }
}

.bear {
  @include w-h( 55vmin, 64vmin );
  position: relative;
  margin-top: -10%;

  &--ear-l,
  &--ear-r {
    @include w-h( 9vmin, 7vmin );
    border-radius: 50% 50% 0% 0% / 70% 70% 0% 0%;
    background-color: $b2;
    border: 0.7vmin solid $p;
    top: 2%;
    overflow: hidden;

    &::before {
      @include pseduo-div( 7vmin, 7vmin );
      border: 0.5vmin solid $p;
      background-color: $pk;
      top: -5%;
    }
  }
  &--ear-l {
    transform: rotate( -45deg );
    left: 16%;

    &::before {
      border-radius: 60% 50% 10% 10% / 70% 70% 20% 10%;
      left: -12%;
    }
  }
  &--ear-r {
    transform: rotate( 45deg );
    right: 16%;

    &::before {
      border-radius: 50% 60% 10% 10% / 70% 70% 10% 20%;
      right: -12%;
    }
  }

  &__head {
    @include w-h( 58.9vmin, 69vmin );
    @include align-x-center;
    background:
      linear-gradient( $p 40%, $t 40% );
    border-radius: 50% / 70% 70% 30% 30%;
    top: 1%;

    &::before {
      @include pseduo-div( 57.6vmin, 68vmin );
      @include align-x-center;
      border-radius: 50% / 70% 70% 30% 30%;
      background:
        radial-gradient( 1% 0.3% at 50% 40.5%, $b2 20vmin, $t 21vmin ),
        linear-gradient( $b2 40%, $t 40% );
      top: 1%;
    }

    &::after {
      @include pseduo-div( 23vmin, 1.4vmin );
      @include align-x-center;
      top: 4.2%;
      background:
        linear-gradient( 52deg, $t 0.4vmin, $b2 0.5vmin, $b2 2vmin, $t 2.1vmin ),
        linear-gradient( -49deg, $t 0.4vmin, $b2 0.5vmin, $b2 2.1vmin, $t 2.2vmin );
    }

    &--snout {
      @include pseduo-div( 8.5vmin, 9vmin );
      @include align-x-center;
      border-radius: 50% / 68% 68% 33% 33%;
      background:
        radial-gradient( 1% 0.4% at 50% 75%, $pk 0.8vmin, $t 0.9vmin ),
        // left smile
        radial-gradient( 1% 1.1% at 15.5% 55%, $p 0.09vmin, $t 0.15vmin ),
        radial-gradient( 1% 1.1% at 15.5% 57%, $p 0.1vmin, $t 0.2vmin ),
        radial-gradient( 1% 1.1% at 16% 58%, $p 0.1vmin, $t 0.2vmin ),
        radial-gradient( 1% 1.1% at 16% 59%, $p 0.1vmin, $t 0.2vmin ),
        radial-gradient( 1% 1.1% at 17% 60%, $p 0.1vmin, $t 0.2vmin ),
        radial-gradient( 1% 1.1% at 17% 61%, $p 0.1vmin, $t 0.2vmin ),
        radial-gradient( 1% 1.1% at 32% 46%, $w1 1.5vmin, $t 1.6vmin ),
        radial-gradient( 1% 0.8% at 33% 57%, $p 1.5vmin, $t 1.6vmin ),
        // right smile
        radial-gradient( 1% 1.1% at 84.5% 55%, $p 0.09vmin, $t 0.15vmin ),
        radial-gradient( 1% 1.1% at 84.5% 57%, $p 0.1vmin, $t 0.2vmin ),
        radial-gradient( 1% 1.1% at 84% 58%, $p 0.1vmin, $t 0.2vmin ),
        radial-gradient( 1% 1.1% at 84% 59%, $p 0.1vmin, $t 0.2vmin ),
        radial-gradient( 1% 1.1% at 83% 60%, $p 0.1vmin, $t 0.2vmin ),
        radial-gradient( 1% 1.1% at 83% 61%, $p 0.1vmin, $t 0.2vmin ),
        radial-gradient( 1% 1.1% at 68.2% 46%, $w1 1.5vmin, $t 1.6vmin ),
        radial-gradient( 1% 0.8% at 67% 57%, $p 1.5vmin, $t 1.6vmin ),
        radial-gradient( 1% 0.7% at 50% 70%, $p 1.6vmin, $t 1.7vmin ),
        $w1;
      top: 23%;

      // nose
      &:after {
        @include pseduo-div( 3.5vmin, 2.2vmin );
        border-radius: 50% 50% 80% 80% / 60% 60% 100% 100%;
        background-color: $p;
        @include align-x-center;
        top: 32%;
      }
    }

    &--eye-l,
    &--eye-r {
      @include w-h( 2vmin, 2vmin );
      border-radius: 50%;
      top: 23%;
    }
    &--eye-l {
      left: 37%;
      background: radial-gradient( circle at 60% 45%, $w1 0.2vmin, $t 0.3vmin ), $p;
    }
    &--eye-r {
      right: 37%;
      background: radial-gradient( circle at 40% 45%, $w1 0.2vmin, $t 0.3vmin ), $p;
    }
  }

  &__mid {
    @include w-h( 59vmin, 20vmin );
    @include align-x-center;
    top: 40%;

    &::after {
      @include pseduo-div( 30vmin, 2vmin );
      @include align-x-center;
      background:
        radial-gradient( circle at 2% 99%, $p 0.25vmin, $t 0.3vmin ),
        radial-gradient( circle at 98.2% 99%, $p 0.25vmin, $t 0.3vmin ),
        linear-gradient( 90deg, $b2 5%, $t 5%, $t 95%, $b2 95% );
      // border: 1px solid green;
      top: 11%;
    }

    &--arm-l,
    &--arm-r {
      @include w-h( 13vmin, 14vmin );
      box-shadow: inset  0 -3vmin 0 $b3;
      top: 10%;
      background-color: $b2;

      // paws
      &::before {
        @include pseduo-div( 11vmin, 9vmin );
        background-color: $b2;
        bottom: 0%;
      }

      // inner curve
      &::after {
        @include pseduo-div( 8vmin, 5vmin );
        background-color: $t;
        border-bottom: 0.5vmin solid $p;
        top: 0.2%;
      }
    }
    &--arm-l {
      left: 4.3%;
      border-radius: 6% 50% 0% 80% / 35% 50% 0% 70%;
      transform: rotate( 8deg );

      &::before {
        border-radius: 0% 40% 80% 0% / 0% 40% 60% 0%;
        box-shadow: inset  1.5vmin -5vmin 0 -2vmin $b3;
        right: -82%;
      }

      &::after {
        border-radius: 20% 50% 0% 100% / 100% 0% 0% 100% ;
        border-left: 0.6vmin solid $p;
        transform: rotate( -1deg );
        right: -50%;
      }
    }
    &--arm-r {
      right: 4.3%;
      border-radius: 50% 5% 80% 0% / 50% 30% 70% 0%;
      transform: rotate( -8deg );

      &::before {
        border-radius: 40% 0% 0% 80% / 40% 0% 0% 60%;
        box-shadow: inset  -1.5vmin -5vmin 0 -2vmin $b3;
        left: -82%;
      }

      &::after {
        border-radius: 50% 20% 100% 0% / 0% 100% 100% 0% ;
        border-right: 0.6vmin solid $p;
        left: -50%;
      }
    }

    &--arm-outline-l,
    &--arm-outline-r {
      @include w-h( 13.4vmin, 14vmin );
      top: 13.5%;
      background-color: $p;

      &::before {
        @include pseduo-div( 12vmin, 10.3vmin );
        background-color: $p;
        bottom: 0%;
      }

      &::after {
        @include pseduo-div( 6vmin, 2vmin );
        background-color: $b2;
        border-radius: 50%;
        bottom: 65%;
      }
    }
    &--arm-outline-l {
      left: 3%;
      border-radius: 4% 50% 0% 88% / 30% 50% 0% 80%;
      transform: rotate( 8deg );

      &::before {
        border-radius: 0% 40% 80% 0% / 0% 40% 60% 0%;
        right: -86%;
      }

      &::after {
        left: 68%;
        transform: rotate( 10deg );
      }
    }
    &--arm-outline-r {
      right: 3.16%;
      border-radius: 50% 3% 80% 0% / 50% 20% 75% 0%;
      transform: rotate( -8deg );

      &::before {
        border-radius: 40% 0% 0% 80% / 40% 0% 0% 60%;
        left: -86%;
      }

      &::after {
        right: 68%;
        transform: rotate( -10deg );
      }
    }
  }

  &__btm {
    @include w-h( 40.2vmin, 20vmin );
    @include align-x-center;
    bottom: 9%;
    border-radius: 0% 0% 80% 80% / 0% 0% 100% 100%;
    background-color: $b3;
    border-left: 0.7vmin solid $p;
    border-right: 0.7vmin solid $p;
    border-bottom: 0.7vmin solid $p;

    &--leg-l,
    &--leg-r {
      @include w-h( 9vmin, 8vmin );
      background-color: $b3;
      bottom: -30%;

      &::before {
        @include pseduo-div( 10vmin, 18vmin );
        background-color: $b3;
        bottom: -1%;
      }

      &::after {
        @include pseduo-div( 10vmin, 14vmin );
        background-color: $b3;
        bottom: 72.5%;
      }
    }

    &--leg-l {
      border-radius: 0% 0% 40% 80% / 0% 100% 50% 50%;
      left: 22.9%;

      &::before {
        border-radius: 0% 0% 0% 60% / 0% 100% 0% 100%;
        transform: rotate( -20deg );
        left: -65%;
      }

      &::after {
        border-radius: 0% 0% 0% 100% / 0% 100% 0% 100%;
        left: 1%;
      }
    }

    &--leg-r {
      border-radius: 0% 0% 80% 40% / 100% 0% 50% 50%;
      right: 22.7%;

      &::before {
        border-radius: 0% 0% 60% 0% / 100% 0% 100% 0%;
        transform: rotate( 20deg );
        right: -65%;
      }

      &::after {
        border-radius: 0% 0% 100% 0% / 100% 0% 100% 0%;
        right: 1%;
      }
    }

    &--leg-outline-l,
    &--leg-outline-r {
      @include w-h( 9vmin, 8vmin );
      background-color: $p;
      bottom: -33%;

      &::before {
        @include pseduo-div( 11vmin, 19vmin );
        background-color: $p;
        bottom: -10%;
      }
    }

    &--leg-outline-l {
      border-radius: 0% 0% 50% 80% / 0% 100% 75% 50%;
      left: 24.5%;

      &::before {
        border-radius: 5% 0% 0% 70% / 0% 100% 0% 100%;
        transform: rotate( -19deg );
        left: -77%;
      }
    }

    &--leg-outline-r {
      border-radius: 0% 0% 80% 50% / 100% 0% 50% 75%;
      right: 24.5%;

      &::before {
        border-radius: 0% 0% 70% 0% / 100% 0% 100% 0%;
        transform: rotate( 19deg );
        right: -77%;
      }
    }
  }

  .fish {
    @include w-h( 36vmin, 10vmin );
    @include align-x-center();
    top: 45%;

    &__head {
      @include w-h( 11vmin, 7.4vmin );
      background: $g;
      border-radius: 100% 0% 0% 40% / 100% 0% 0% 30%;
      transform: rotate( -40deg );
      border-top: 0.6vmin solid $p;
      border-left: 0.6vmin solid $p;
      bottom: -70%;
      left: -28%;

      &::before {
        @include pseduo-div( 14vmin, 7.4vmin );
        background: $w2;
        border-radius: 100% 0% 0% 100% / 100% 0% 0% 43%;
        transform: rotate( 15deg );
        border-bottom: 0.6vmin solid $p;
        border-top: 3vmin solid $g;
        // border-left: 1vmin solid $pk;
        bottom: -40%;
        left: 0%;
      }

      &--eye {
        @include w-h( 2vmin, 1vmin );
        background: $p;
        border-radius: 70% 25% 25% 30% / 70% 50% 50% 30%;
        transform: rotate( -5deg );
        top: 40%;
        left: 25%;

        // &::before {
        //   @include pseduo-div( 2vmin, 0.6vmin );
        //   background: $p;
        //   border-radius: 25% / 50%;
        //   transform: rotate( -75deg );
        //   left: 19%;
        // }
      }
    }

    &__top {
      @include w-h( 40vmin, 10vmin );
      border-radius: 50% 50% 0% 0% / 100% 100% 0% 0% ;
      background: $g;
      left: -6%;
      border-top: 0.7vmin solid $p;
    }

    &__btm {
      @include w-h( 20vmin, 12vmin );
      background:
        radial-gradient( 1% 0.6% at 50% 91.5%, $t 12vmin, $p 12.5vmin, $p 14vmin, $w2 14.2vmin, $w2 18.5vmin, $w2 26vmin, $t 26.5vmin );
      transform: rotate( -0.5deg );
      bottom: -81%;
      left: 20%;
      // border: 1px solid green;
      // border-bottom: 0.7vmin solid $p;

      &::before {
        @include pseduo-div( 4.5vmin, 5vmin );
        background: $w2;
        transform: rotate( -35deg );
        border-radius: 0% 100% 30% 70% / 22% 96% 21% 100%;
        box-shadow:
          0.4vmin 0.5vmin 0 0 $p,
          -0.4vmin 0.5vmin 0 0 $p;
        bottom: 20%;
        left: 10%;
      }
    }
  }

  .shadow {
    @include w-h( 45vmin, 6vmin );
    @include align-x-center();
    background: $g2;
    border-radius: 50%;
    position: absolute;
    bottom: -4%;
  }
}

// .cloud {
//   div {
//     position: absolute;
//     will-change: margin-top;

//     &:nth-child( 1 ) {
//       @include w-h ( 36vmin, 25vmin );
//       top: 35%;
//       left: 3%;
//       opacity: 0.6;
//       background:
//         radial-gradient( 1vmin 1vmin at 16% 53%, $w 4vmin, $t 4.4vmin ),
//         radial-gradient( 0.8vmin 1vmin at 33% 51%, $w 6vmin, $t 6.4vmin ),
//         radial-gradient( 1.5vmin 1vmin at 57% 30%, $w 7vmin, $t 7.5vmin ),
//         radial-gradient( 1.2vmin 1vmin at 79% 36%, $w 3vmin, $t 3.4vmin ),
//         radial-gradient( 2vmin 1.5vmin at 84% 55%, $w 5vmin, $t 5.5vmin ),
//         radial-gradient( 2vmin 1.5vmin at 78% 72%, $w 4vmin, $t 4.5vmin ),
//         radial-gradient( 2vmin 1.5vmin at 55% 72%, $w 5.5vmin, $t 6vmin ),
//         radial-gradient( 2vmin 1.5vmin at 35% 80%, $w 2.5vmin, $t 3vmin ),
//         radial-gradient( 2vmin 1.5vmin at 16% 70%, $w 4.5vmin, $t 5vmin ),
//         radial-gradient( 2vmin 0.9vmin at 50% 55%, $w 14.5vmin, $t 15vmin );
//       animation: moving-cloud 30s infinite linear;
//     }

//     &:nth-child( 2 ) {
//       @include w-h ( 50vmin, 30vmin );
//       top: 3%;
//       left: 72%;
//       opacity: 0.7;
//       background:
//         radial-gradient( 1vmin 1vmin at 21% 53%, $w 6.6vmin, $t 7vmin ),
//         radial-gradient( 1vmin 1vmin at 38% 42%, $w 8vmin, $t 8.4vmin ),
//         radial-gradient( 1vmin 1vmin at 59% 40%, $w 8.5vmin, $t 8.9vmin ),
//         radial-gradient( 1vmin 1vmin at 76% 34%, $w 3vmin, $t 3.4vmin ),
//         radial-gradient( 1vmin 1vmin at 82% 55%, $w 6vmin, $t 6.5vmin ),
//         radial-gradient( 2vmin 1.5vmin at 88% 66%, $w 5.5vmin, $t 6vmin ),
//         radial-gradient( 2vmin 1.5vmin at 74% 76%, $w 4vmin, $t 4.5vmin ),
//         radial-gradient( 2vmin 1.5vmin at 59% 80%,$w 5.5vmin, $t 6vmin ),
//         radial-gradient( 2vmin 1.1vmin at 39% 80%, $w 7.5vmin, $t 8vmin ),
//         radial-gradient( 2vmin 1.5vmin at 15.8% 68%,$w 7.5vmin, $t 7.9vmin ),
//         radial-gradient( 2vmin 1vmin at 42% 56%, $w 17vmin, $t 17.4vmin );
//       animation: moving-cloud 20s infinite linear;
//     }

//     &:nth-child( 3 ) {
//       @include w-h ( 25vmin, 15vmin );
//       top: 65%;
//       left: 63%;
//       opacity: 0.5;
//       background:
//         radial-gradient( 0.8vmin 1vmin at 33% 50%, $w 4vmin, $t 4.4vmin ),
//         radial-gradient( 1.5vmin 1vmin at 57% 35%, $w 6vmin, $t 6.5vmin ),
//         radial-gradient( 1.2vmin 1vmin at 79% 41%, $w 3vmin, $t 3.4vmin ),
//         radial-gradient( 2vmin 1.5vmin at 78% 65%, $w 4vmin, $t 4.5vmin ),
//         radial-gradient( 2vmin 1.5vmin at 55% 66%, $w 5.5vmin, $t 6vmin ),
//         radial-gradient( 2vmin 1.5vmin at 30% 80%, $w 2.5vmin, $t 3vmin ),
//         radial-gradient( 2vmin 1.5vmin at 17% 72%, $w 1.6vmin, $t 2vmin ),
//         radial-gradient( 2vmin 0.9vmin at 50% 55%, $w 10vmin, $t 10.5vmin );
//       animation: moving-cloud 40s infinite linear;
//     }

//     &:nth-child( 4 ) {
//       @include w-h ( 12vmin, 8vmin );
//       top: 90%;
//       left: 25%;
//       opacity: 0.4;
//       background:
//         radial-gradient( 1.2vmin 1vmin at 44% 35%, $w 2vmin, $t 2.4vmin ),
//         radial-gradient( 1.5vmin 1vmin at 66% 30%, $w 1vmin, $t 1.4vmin ),
//         radial-gradient( 2vmin 1.5vmin at 78% 75%, $w 1vmin, $t 1.5vmin ),
//         radial-gradient( 2vmin 1.5vmin at 55% 66%, $w 2.5vmin, $t 3vmin ),
//         radial-gradient( 2vmin 1.5vmin at 35% 80%, $w 1vmin, $t 1.4vmin ),
//         radial-gradient( 2vmin 1.5vmin at 17% 72%, $w 1.6vmin, $t 2vmin ),
//         radial-gradient( 2vmin 0.8vmin at 50% 55%, $w 5vmin, $t 5.5vmin );
//       animation: moving-cloud 50s infinite linear;
//     }
//   }
// }

// .madeline-container {
//   @include w-h( 40.5vmin, 91.8vmin );
//   animation: body-move 1.3s infinite alternate ease-in-out;
// }

// .balloon {
//   @include w-h( 20vmin, 24vmin );
//   position: absolute;
//   background: $r;
//   border-radius: 50%;
//   top: 50%;
//   left: 50%;
//   transform: translate3d( -114%, -200%, 0 );
//   animation: balloon-move 1.3s infinite alternate ease-in-out;

//   &::after {
//     @include pseduo-div( 2.2vmin, 1.6vmin,  $r );
//     position: absolute;
//     top: 99.5%;
//     left: 44%;
//     transform: rotate( 5deg ) skewX( -5deg );
//     border-radius: 60% 60% 20% 20%;
//   }

//   &::before {
//     @include pseduo-div( 0.2vmin, 26vmin, darken( $pr, 40 ));
//     top: 100%;
//     left: 50.2%;
//   }
// }

// .head {
//   @include w-h( 79%, 26% );
//   position: relative;
//   top: 40%;
//   left: 11.5%;

//   // top bow ribbons
//   &::before,
//   &::after {
//     @include pseduo-div( 0, 0, $t );
//     z-index: -10;
//     border-bottom: 7vmin solid $b;
//   }

//   &::before {
//     border-right: 6vmin solid $t;
//     top: 5%;
//     left: 31.5%;
//     transform: rotateZ( -8deg );
//   }

//   &::after {
//     border-left: 6vmin solid $t;
//     top: 2%;
//     left: 42.5%;
//     transform: rotateZ( -3.5deg );
//   }

//   // hair
//   &__hair,
//   &__hair--fringe {
//     @include w-h( 80%, 47% );
//     position: absolute;
//     top: 52.5%;
//     left: 12%;
//     border-radius: 50% 50% 60% 60% / 90% 90% 35% 35%;
//     transform: rotateZ( 2.5deg );
//     overflow: hidden;
//   }

//   &__hair {
//     background-color: $o;

//     // fringe
//     &--fringe {
//       z-index: 20;

//       &::before,
//       &::after {
//         @include pseduo-div( 38%, 30%, $o );
//         border-radius: 50%;
//       }

//       &::before {
//         top: -5%;
//         left: 22%;
//         transform: rotate( -14deg );
//       }

//       &::after {
//         top: -10%;
//         left: 50%;
//         transform: rotate( 14deg );
//       }
//     }
//   }

//   &__face {
//     @include w-h( 44%, 42% );
//     border-radius: 30% 30% 60% 70% / 80% 80% 70% 70%;
//     position: absolute;
//     top: 57%;
//     left: 33.5%;
//     z-index: 10;
//     background:
//       // nose
//       radial-gradient( 12% 8% at 58% 60%, $skin 0.5vmin, $t 0.7vmin ),
//       radial-gradient( 10% 8% at 59% 63%, rgba( $b, 0.8 ) 0.4vmin, $t 0.5vmin ),
//       //mouth
//       linear-gradient( -50deg, $t 46%, $skin 46.5% ),
//       linear-gradient( 50deg, $t 51%, $skin 51.5% ),
//       radial-gradient( 2.4% 1.2% at 54% 74%, $skin 1.9vmin, $t 2.1vmin ),
//       radial-gradient( 2.2% 1.2% at 54% 76%, rgba( $b, 0.8 ) 2vmin, $t 2.2vmin ),
//       $skin;

//     // eyes
//     &::before,
//     &::after {
//       @include pseduo-div( 5%, 11%, rgba( $b, 0.8 ));
//       border-radius: 50%;
//       animation: eyes-blink 7s infinite;
//       will-change: transform;
//     }

//     &::before {
//       top: 32%;
//       left: 33%;
//     }

//     &::after {
//       top: 34%;
//       left: 70%;
//     }
//   }

//   &__hat {
//     @include w-h( 84%, 36% );
//     background-color: $y;
//     border-radius: 70% 70% 50% 50% / 70% 70% 80% 80%;
//     position: absolute;
//     top: 28%;
//     left: 13%;
//     transform: rotateZ( 4deg );

//     // ribbons
//     &::after,
//     &::before {
//       @include pseduo-div( 24%, 30%, rgba( $b, 0.8 ));
//       background:
//         radial-gradient( 1% 1.5% at 20% 120%, $t 3vmin, $b 3.1vmin, $b 5vmin, $t 5.1vmin),
//         radial-gradient( 2.2% 1.5% at 22% 107%, $t 3vmin, $b 3.2vmin, $b 6vmin, $t 6vmin);
//     }

//     &::before {
//       top: 80%;
//       left: -17%;
//       transform: rotate( -45deg );
//     }

//     &::after {
//       top: 103%;
//       left: -13%;
//       transform: rotate( -62deg );
//     }
//   }
// }

// .body {
//   @include w-h( 66%, 34.4% );
//   position: absolute;
//   top: 65.6%;
//   left: 23.5%;
//   transform-origin: 50% 0%;
//   animation: dress-sway 1.2s infinite alternate ease-in-out;

//   // dress
//   &::before {
//     @include pseduo-div( 84%, 66%, $n );
//     background-color: $n;
//     background-color: rgba( $n, 0.5 );
//     border-radius: 0 0 45% 55% / 0 0 18% 18%;
//     border-radius: 50% / 100% 100% 0% 0%;
//     transform: rotate( -3deg );
//     top: 0;
//     left: 3%;
//     background:
//       linear-gradient( -72.8deg, $t 35%, $n 35.5%,$n 77.3%, $t 77.7% ),
//       linear-gradient( 74deg, $t 42%, $n 42.5%, $n 78%, $t 78.5% );
//   }

//   &::after {
//     @include pseduo-div( 82.6%, 18%, $n );
//     border-radius: 50%;
//     top: 56.7%;
//     left: 5.4%;
//     transform: rotate( -3deg );
//   }

//   // legs
//   &__leg {
//     &-l,
//     &-r {
//     // Leg
//       &::after {
//         @include pseduo-div( 13%, 28%, null );
//         position: absolute;
//         background: radial-gradient( circle at 50% -50%, $skin 72%, $w 72.5% );
//       }

//       // Shoe
//       &::before {
//         @include pseduo-div( 20%, 7%, $b );
//       }
//     }

//     &-l {
//       &::after {
//         top: 69%;
//         left: 12.8%;
//         border-radius: 0 0 50% 50% / 0 0 5% 8%;
//         transform: rotate( 18deg );
//       }

//       &::before {
//         top: 93%;
//         left: 0.5%;
//         border-radius: 60% 50% 40% 30% / 80% 60% 70% 30%;
//       }
//     }

//     &-r {
//       &::after {
//         top: 68.2%;
//         left: 72%;
//         border-radius: 0 0 50% 50% / 0 0 10% 8%;
//         transform: rotate( -33deg );
//       }

//       &::before {
//         top: 89.5%;
//         right: -1.5%;
//         border-radius: 40% 60% 30% 40% / 60% 80% 30% 40%;
//         transform: rotate( -10deg );
//       }
//     }
//   }
// }

/* --- Animation --- */
@keyframes eyes-blink {
  0% {
    transform: scaleY( 1 );
  }

  2% {
    transform: scaleY( 0.1 );
  }

  4% {
    transform: scaleY( 1 );
  }

  6% {
    transform: scaleY( 0.1 );
  }

  8% {
    transform: scaleY( 1 );
  }

  66% {
    transform: scaleY( 1 );
  }

  68% {
    transform: scaleY( 0.1 );
  }

  70% {
    transform: scaleY( 1 );
  }

  100% {
    transform: scaleY( 1 );
  }
}
