html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

svg,
.bear *,
.bear *:after,
.bear *:before {
  position: absolute;
}

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* --- Colours --- */
$o: #ffc9ad;
$b1: #dd9b70;
$b2: #be7c5d;
$b3: #84424d;
$pk: #ff8d94;
$g: #a3946e;
$g2: #907262;
$w1: #f7e5dc;
$w2: #d2c9c7;
$p: #502141;
$t: transparent;

@mixin pseduo-div( $w, $h ) {
  content: '';
  width: $w;
  height: $h;
  display: block;
}

@mixin w-h ( $w, $h ) {
  width: $w;
  height: $h;
}

@mixin align-x-center {
  left: 50%;
  transform: translateX( -50% );
}

/* --- Styles --- */
body {
  margin: 0;
  background: $o;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

// img {
//   height: 70vmin;
//   left: 50%;
//   opacity: 0.25;
//   position: fixed;
//   top: 50%;
//   transform: translate(-50%, -50%);
// }

svg {
  top: -20%;
  transform: scale( 2 );

  textPath {
    font-family: 'Luckiest Guy', cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.7rem;
    fill: $w1;
    stroke: $p;
    stroke-width: 2;
  }
}

.text-shadow {
  filter: drop-shadow( 0.2vmin 0.3vmin 0 $g );
}

.bear {
  @include w-h( 55vmin, 64vmin );
  position: relative;
  margin-top: 11%;

  &--ear-l,
  &--ear-r {
    @include w-h( 9vmin, 7vmin );
    border-radius: 50% 50% 0% 0% / 70% 70% 0% 0%;
    background-color: $b1;
    border: 0.7vmin solid $p;
    top: 2%;
    overflow: hidden;

    &::before {
      @include pseduo-div( 7vmin, 7vmin );
      border: 0.5vmin solid $p;
      background-color: $pk;
      top: -5%;
    }
  }
  &--ear-l {
    transform: rotate( -45deg );
    left: 16%;

    &::before {
      border-radius: 60% 50% 10% 10% / 70% 70% 20% 10%;
      left: -12%;
    }
  }
  &--ear-r {
    transform: rotate( 45deg );
    right: 16%;

    &::before {
      border-radius: 50% 60% 10% 10% / 70% 70% 10% 20%;
      right: -12%;
    }
  }

  &__head {
    @include w-h( 58.8vmin, 69vmin );
    @include align-x-center;
    background:
      linear-gradient( $p 40%, $t 40% );
    border-radius: 50% / 70% 70% 30% 30%;
    top: 1%;

    &::before {
      @include pseduo-div( 57.6vmin, 68vmin );
      @include align-x-center;
      box-shadow:
        inset 0.5vmin 3vmin 0 -1.5vmin $b1,
        inset -0.5vmin 3vmin 0 -1.5vmin $b1;
      border-radius: 50% / 70% 70% 30% 30%;
      background:
        radial-gradient( 1% 0.3% at 50% 40.5%, $b2 20vmin, $t 21vmin ),
        linear-gradient( $b2 40%, $t 40% );
      top: 1%;
    }

    &::after {
      @include pseduo-div( 26vmin, 1.8vmin );
      @include align-x-center;
      top: 3.6%;
      background:
        linear-gradient( 44deg, $t 1.4vmin, $b1 1.5vmin, $b1 3.05vmin, $t 3.1vmin ),
        linear-gradient( -44deg, $t 1.4vmin, $b1 1.5vmin, $b1 3.05vmin, $t 3.1vmin );
    }

    &--snout {
      @include pseduo-div( 8.5vmin, 9vmin );
      @include align-x-center;
      border-radius: 50% / 68% 68% 33% 33%;
      background:
        radial-gradient( 1% 0.4% at 50% 75%, $pk 0.8vmin, $t 0.9vmin ),
        // left smile
        radial-gradient( 1% 1.1% at 15.5% 55%, $p 0.09vmin, $t 0.15vmin ),
        radial-gradient( 1% 1.1% at 15.5% 57%, $p 0.1vmin, $t 0.2vmin ),
        radial-gradient( 1% 1.1% at 16% 58%, $p 0.1vmin, $t 0.2vmin ),
        radial-gradient( 1% 1.1% at 16% 59%, $p 0.1vmin, $t 0.2vmin ),
        radial-gradient( 1% 1.1% at 17% 60%, $p 0.1vmin, $t 0.2vmin ),
        radial-gradient( 1% 1.1% at 17% 61%, $p 0.1vmin, $t 0.2vmin ),
        radial-gradient( 1% 1.1% at 32% 46%, $w1 1.5vmin, $t 1.6vmin ),
        radial-gradient( 1% 0.8% at 33% 57%, $p 1.5vmin, $t 1.6vmin ),
        // right smile
        radial-gradient( 1% 1.1% at 84.5% 55%, $p 0.09vmin, $t 0.15vmin ),
        radial-gradient( 1% 1.1% at 84.5% 57%, $p 0.1vmin, $t 0.2vmin ),
        radial-gradient( 1% 1.1% at 84% 58%, $p 0.1vmin, $t 0.2vmin ),
        radial-gradient( 1% 1.1% at 84% 59%, $p 0.1vmin, $t 0.2vmin ),
        radial-gradient( 1% 1.1% at 83% 60%, $p 0.1vmin, $t 0.2vmin ),
        radial-gradient( 1% 1.1% at 83% 61%, $p 0.1vmin, $t 0.2vmin ),
        radial-gradient( 1% 1.1% at 68.2% 46%, $w1 1.5vmin, $t 1.6vmin ),
        radial-gradient( 1% 0.8% at 67% 57%, $p 1.5vmin, $t 1.6vmin ),
        radial-gradient( 1% 0.7% at 50% 70%, $p 1.6vmin, $t 1.7vmin ),
        $w1;
      top: 23%;

      // nose
      &:after {
        @include pseduo-div( 3.5vmin, 2.2vmin );
        border-radius: 50% 50% 80% 80% / 60% 60% 100% 100%;
        background-color: $p;
        @include align-x-center;
        top: 32%;
      }
    }

    &--eye-l,
    &--eye-r {
      @include w-h( 2vmin, 2vmin );
      border-bottom: 0.2vmin solid $b1;
      border-radius: 50%;
      top: 23%;
      animation: eyes-blink 6s infinite;
    }
    &--eye-l {
      left: 37%;
      background: radial-gradient( circle at 60% 45%, $w1 0.2vmin, $t 0.3vmin ), $p;
    }
    &--eye-r {
      right: 37%;
      background: radial-gradient( circle at 40% 45%, $w1 0.2vmin, $t 0.3vmin ), $p;
    }
  }

  &__mid {
    @include w-h( 59vmin, 20vmin );
    @include align-x-center;
    top: 40%;

    &::after {
      @include pseduo-div( 30vmin, 2vmin );
      @include align-x-center;
      background:
        radial-gradient( circle at 2% 102%, $p 0.2vmin, $t 0.3vmin ),
        radial-gradient( circle at 98.2% 102%, $p 0.2vmin, $t 0.3vmin ),
        linear-gradient( 90deg, $b2 5%, $t 5%, $t 95%, $b2 95% );
      top: 11%;
    }

    &--arm-l,
    &--arm-r {
      @include w-h( 13vmin, 14vmin );
      box-shadow: inset 0 -3vmin 0 $b3;
      background: linear-gradient( $b2 80%, $b3 80% );
      top: 10%;

      // paws
      &::before {
        @include pseduo-div( 11vmin, 9vmin );
        bottom: 0%;
      }

      // inner curve
      &::after {
        @include pseduo-div( 8vmin, 5vmin );
        background-color: $t;
        border-bottom: 0.7vmin solid $p;
        top: 0.1vmin;
      }
    }
    &--arm-l {
      left: 4.3%;
      border-radius: 5% 50% 0% 80% / 35% 50% 0% 70%;
      transform: rotate( 8deg );

      &::before {
        border-radius: 0% 40% 80% 0% / 0% 40% 60% 0%;
        background: linear-gradient( -5deg, $b3 36%, $b2 37% );
        box-shadow: inset 1.5vmin -4.95vmin 0 -2vmin $b3;
        right: -82%;
      }

      &::after {
        border-radius: 20% 50% 0% 100% / 100% 0% 0% 100% ;
        border-left: 0.6vmin solid $p;
        transform: rotate( -1deg );
        right: -50%;
      }
    }
    &--arm-r {
      right: 4.3%;
      border-radius: 50% 5% 80% 0% / 50% 30% 70% 0%;
      transform: rotate( -8deg );

      &::before {
        border-radius: 40% 0% 0% 80% / 40% 0% 0% 60%;
        background: linear-gradient( 5deg, $b3 36%, $b2 37% );
        box-shadow: inset  -1.5vmin -4.95vmin 0 -2vmin $b3;
        left: -82%;
      }

      &::after {
        border-radius: 50% 20% 100% 0% / 0% 100% 100% 0% ;
        border-right: 0.6vmin solid $p;
        transform: rotate( 1deg );
        left: -50%;
      }
    }

    &--arm-outline-l,
    &--arm-outline-r {
      @include w-h( 13.3vmin, 14vmin );
      top: 13.5%;
      background: $p;

      &::before {
        @include pseduo-div( 12vmin, 10.3vmin );
        background-color: $p;
        bottom: 0%;
      }

      &::after {
        @include pseduo-div( 6vmin, 2vmin );
        background-color: $b2;
        border-radius: 50%;
        bottom: 65%;
      }
    }
    &--arm-outline-l {
      left: 3.1%;
      border-radius: 4% 50% 0% 88% / 30% 50% 0% 80%;
      transform: rotate( 8deg );

      &::before {
        border-radius: 0% 40% 80% 0% / 0% 40% 60% 0%;
        right: -86%;
      }

      &::after {
        left: 68%;
        transform: rotate( 10deg );
      }
    }
    &--arm-outline-r {
      right: 3.2%;
      border-radius: 50% 3% 80% 0% / 50% 20% 75% 0%;
      transform: rotate( -8deg );

      &::before {
        border-radius: 40% 0% 0% 80% / 40% 0% 0% 60%;
        left: -86%;
      }

      &::after {
        right: 68%;
        transform: rotate( -10deg );
      }
    }
  }

  &__btm {
    @include w-h( 40.2vmin, 20vmin );
    @include align-x-center;
    bottom: 9%;
    border-radius: 0% 0% 80% 80% / 0% 0% 100% 100%;
    background-color: $b3;
    border-left: 0.7vmin solid $p;
    border-right: 0.7vmin solid $p;
    border-bottom: 0.7vmin solid $p;

    &--leg-l,
    &--leg-r {
      @include w-h( 9vmin, 8vmin );
      background-color: $b3;
      bottom: -30%;

      &::before {
        @include pseduo-div( 10vmin, 18vmin );
        background-color: $b3;
        bottom: -1%;
      }

      &::after {
        @include pseduo-div( 10vmin, 14vmin );
        background-color: $b3;
        bottom: 72.5%;
      }
    }
    &--leg-l {
      border-radius: 0% 0% 40% 80% / 0% 100% 50% 50%;
      left: 22.9%;

      &::before {
        border-radius: 0% 0% 0% 60% / 0% 100% 0% 100%;
        transform: rotate( -20deg );
        left: -65%;
      }

      &::after {
        border-radius: 0% 0% 0% 100% / 0% 100% 0% 100%;
        left: 1%;
      }
    }
    &--leg-r {
      border-radius: 0% 0% 80% 40% / 100% 0% 50% 50%;
      right: 22.7%;

      &::before {
        border-radius: 0% 0% 60% 0% / 100% 0% 100% 0%;
        transform: rotate( 20deg );
        right: -65%;
      }

      &::after {
        border-radius: 0% 0% 100% 0% / 100% 0% 100% 0%;
        right: 1%;
      }
    }

    &--leg-outline-l,
    &--leg-outline-r {
      @include w-h( 9vmin, 8vmin );
      background-color: $p;
      bottom: -33%;

      &::before {
        @include pseduo-div( 11vmin, 19vmin );
        background-color: $p;
        bottom: -10%;
      }
    }
    &--leg-outline-l {
      border-radius: 0% 0% 50% 80% / 0% 100% 75% 50%;
      left: 24.5%;

      &::before {
        border-radius: 5% 0% 0% 70% / 0% 100% 0% 100%;
        transform: rotate( -19deg );
        left: -77%;
      }
    }
    &--leg-outline-r {
      border-radius: 0% 0% 80% 50% / 100% 0% 50% 75%;
      right: 24.5%;

      &::before {
        border-radius: 0% 0% 70% 0% / 100% 0% 100% 0%;
        transform: rotate( 19deg );
        right: -77%;
      }
    }

    &--curve {
      @include w-h( 37vmin, 20vmin );
      @include align-x-center;
      background:
        radial-gradient( ellipse at 50% 50%, $b3 66%, $p 66.6% );
      border-radius: 50%;
      clip-path: ellipse( 20% 20% at 50% 105% );

      &::before {
        @include pseduo-div( 30vmin, 20vmin );
        background:
          radial-gradient( circle at 42% 95.7%,$p 0.3vmin, $t 0.35vmin ),
          radial-gradient( circle at 82% 95.7%,$p 0.3vmin, $t 0.35vmin ),
          linear-gradient( 90deg, $b3 42%, $t 42%, $t 82%, $b3 82% );
      }
    }
  }

  .fish {
    @include w-h( 36vmin, 10vmin );
    @include align-x-center();
    top: 45%;

    &__head {
      @include w-h( 11vmin, 7.4vmin );
      background: $g;
      border-radius: 100% 0% 0% 40% / 100% 0% 0% 30%;
      transform: rotate( -40deg );
      border-top: 0.6vmin solid $p;
      border-left: 0.6vmin solid $p;
      bottom: -70%;
      left: -28%;

      &::before {
        @include pseduo-div( 14vmin, 7.4vmin );
        background: linear-gradient( 10deg, $p 20%, $w2 20% );
        border-radius: 90% 0% 0% 100% / 100% 0% 0% 42%;
        transform: rotate( 15deg );
        border-top: 1vmin solid $g;
        box-shadow: inset 0vmin -0.6vmin 0 0 $p;
        bottom: -38%;
        left: -2%;
      }

      &--eye {
        @include w-h( 2.2vmin, 1.1vmin );
        background: $p;
        border-radius: 70% 25% 25% 30% / 70% 50% 50% 30%;
        transform: rotate( -5deg );
        top: 33%;
        left: 25%;
      }
    }

    &__top {
      @include w-h( 10vmin, 5vmin );
      background: $g;
      border-radius: 100% 30% 45% 0% / 100% 50% 100% 35% ;
      transform: rotate( 5deg ) skew( -25deg );
      border: 0.6vmin solid $p;
      top: -5%;
      left: 40%;

      // top fin
      &::before {
        @include pseduo-div( 32vmin, 7vmin );
        border-radius: 50% 50% 0% 0% / 100% 100% 0% 0%;
        transform: skewY( 2deg );
        background: $g;
        top: 50%;
        left: -150%;
        border: 0.5vmin solid $p;
      }
    }

    &__btm {
      @include w-h( 20vmin, 12vmin );
      background:
        radial-gradient( 1% 0.6% at 50% 91.5%, $t 12vmin, $p 12.5vmin, $p 14vmin, $w2 14.2vmin, $w2 18.5vmin, $w2 26vmin, $t 26.5vmin );
      transform: rotate( -0.5deg );
      bottom: -81%;
      left: 20%;

      // bottom fin
      &::before {
        @include pseduo-div( 4.5vmin, 4vmin );
        background: $g;
        transform: rotate( -25deg ) skewY( 30deg );
        border-radius: 0% 100% 30% 50% / 22% 100% 15% 100%;
        box-shadow:
          0.5vmin 0.7vmin 0 0 $p,
          0.55vmin 0.5vmin 0 0 $p,
          0.55vmin 0.4vmin 0 0 $p,
          0.55vmin 0.3vmin 0 0 $p,
          0.4vmin -0.3vmin 0 0.1vmin $p,
          -0.4vmin 0.6vmin 0 0 $p;
        bottom: 15%;
        left: -7%;
      }
    }

    &__tail {
      @include w-h( 10vmin, 4.5vmin );
        border-radius: 0% 100% 100% 0% / 0% 100% 50% 0%;
        background-color: $g;
        transform: rotate( 20deg );
        border: 0.6vmin solid $p;
        bottom: -58%;
        right: -10%;

      &--top-fin {
        @include w-h( 7.5vmin, 7.7vmin );
        background: $g;
        border: 0.6vmin solid $p;
        transform: rotate( -60deg ) skewY( 40deg );
        border-radius: 0% 100% 30% 50% / 0% 100% 15% 100%;
        top: 100%;
        right: -22%;
      }

      &--btm-fin {
        @include w-h( 9vmin, 6.6vmin );
        background: $g;
        border: 0.6vmin solid $p;
        transform: rotate( 100deg ) skewY( -20deg );
        border-radius: 50% 30% 100% 0% / 100% 15% 100% 0%;
        top: 145%;
        right: -15%;
      }
    }
  }

  .shadow {
    @include w-h( 40vmin, 6vmin );
    @include align-x-center();
    background: $g2;
    border-radius: 50%;
    position: absolute;
    bottom: -4%;
  }
}

/* --- Animation --- */
@keyframes eyes-blink {
  0% {
    transform: scaleY( 1 );
  }

  2% {
    transform: scaleY( 0.1 );
  }

  4% {
    transform: scaleY( 1 );
  }

  6% {
    transform: scaleY( 0.1 );
  }

  8% {
    transform: scaleY( 1 );
  }

  66% {
    transform: scaleY( 1 );
  }

  68% {
    transform: scaleY( 0.1 );
  }

  70% {
    transform: scaleY( 1 );
  }

  100% {
    transform: scaleY( 1 );
  }
}
