html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.bear *,
.bear *:after,
.sbear *:before {
  position: absolute;
}

/* --- Colours --- */
/* --- Styles --- */
body {
  margin: 0;
  background: #ffc9ad;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

img {
  height: 70vmin;
  left: 50%;
  opacity: 0.25;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bear {
  width: 55vmin;
  height: 64vmin;
  position: relative;
  border: 1px dashed blue;
}

.bear__top {
  width: 58vmin;
  height: 70vmin;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #be7c5d), color-stop(40%, transparent));
  background: linear-gradient(#be7c5d 40%, transparent 40%);
  border-radius: 50% / 70% 70% 30% 30%;
}

.bear__top--snout {
  content: '';
  width: 8.5vmin;
  height: 9vmin;
  display: block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50% / 68% 68% 33% 33%;
  background: radial-gradient(1% 0.4% at 50% 74%, #ff8d94 0.8vmin, transparent 0.9vmin), radial-gradient(1% 1.1% at 15.5% 55%, #502141 0.1vmin, transparent 0.2vmin), radial-gradient(1% 1.1% at 16% 57%, #502141 0.1vmin, transparent 0.2vmin), radial-gradient(1% 1.1% at 16% 58%, #502141 0.1vmin, transparent 0.2vmin), radial-gradient(1% 1.1% at 17% 59%, #502141 0.1vmin, transparent 0.2vmin), radial-gradient(1% 1.1% at 17% 60%, #502141 0.1vmin, transparent 0.2vmin), radial-gradient(1% 1.1% at 32% 45%, #f7e5dc 1.5vmin, transparent 1.6vmin), radial-gradient(1% 0.8% at 33% 56%, #502141 1.5vmin, transparent 1.6vmin), radial-gradient(1% 1.1% at 65% 45%, #f7e5dc 1.5vmin, transparent 1.6vmin), radial-gradient(1% 0.8% at 67% 56%, #502141 1.5vmin, transparent 1.6vmin), radial-gradient(1% 0.7% at 50% 69%, #502141 1.6vmin, transparent 1.7vmin), #f7e5dc;
  top: 23%;
}

.bear__top--snout:after {
  content: '';
  width: 3.5vmin;
  height: 2.2vmin;
  display: block;
  border-radius: 50% 50% 80% 80% / 60% 60% 100% 100%;
  background-color: #502141;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 31%;
}

.bear__top--eye-l, .bear__top--eye-r {
  content: '';
  width: 2vmin;
  height: 2vmin;
  display: block;
  border-radius: 50%;
  top: 23%;
}

.bear__top--eye-l {
  left: 37%;
  background: radial-gradient(circle at 60% 45%, #f7e5dc 0.2vmin, transparent 0.3vmin), #502141;
}

.bear__top--eye-r {
  right: 37%;
  background: radial-gradient(circle at 40% 45%, #f7e5dc 0.2vmin, transparent 0.3vmin), #502141;
}

.bear__top--ear-l, .bear__top--ear-r {
  content: '';
  width: 9vmin;
  height: 7vmin;
  display: block;
  border-radius: 50% 50% 0% 0% / 70% 70% 0% 0%;
  background-color: #be7c5d;
  top: 2%;
}

.bear__top--ear-l {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 16%;
}

.bear__top--ear-r {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 16%;
}

.bear__btm {
  width: 40vmin;
  height: 20vmin;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 9%;
  border-radius: 0% 0% 80% 80% / 0% 0% 100% 100%;
  background-color: #be7c5d;
}

/* --- Animation --- */
@-webkit-keyframes eyes-blink {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  2% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  4% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  6% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  8% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  66% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  68% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  70% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes eyes-blink {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  2% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  4% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  6% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  8% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  66% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  68% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  70% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
